@media (max-width: 1024px) {
  section {
    width: 80%;
  }
  .topheader {
    justify-content: space-between;
  }
  #bigscreenheading {
    display: none;
  }
  #smallscreenheading {
    display: block;
  }
  #openmenu {
    display: block;
  }
  #closemenu {
    @extend #openmenu;
  }
  nav {
    position: fixed;
    top: 0;
    border-radius: 0;
    right: -110%;
    z-index: 10;
    transition: right 300ms ease-out;
    height: 100vh;
    width: 100vw;
    ul {
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
      height: 100vh;
      justify-content: space-evenly;
      a {
        margin-right: 3rem;
      }
    }
  }
  .activechoice {
    text-decoration: none;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 175px;
    height: 175px;
  }
  section {
    width: 90%;
  }
}
