@use "base";

body {
  margin: 0;
  @include base.darker-colors($light-theme: true);
}
.topheader {
  @extend %centercontentwithflex;
  @extend %paddingandspace;
  @include base.primary-colors($light-theme: true);
  justify-content: space-around;
}
.logo {
  width: 250px;
  height: 250px;
}
nav {
  width: 60%;
  @extend %centerchild;
  @extend %paddingandspace;
  @include base.complementary-colors($light-theme: true);
  border-radius: 20px;
  ul {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
section {
  width: 50%;
  @extend %centerchild;
  article {
    @extend %centercontentwithflex;
    @extend %paddingandspace;
    flex-direction: column;
    border-radius: 20px;
    @include base.saturated-colors($light-theme: true);
    img {
      width: 100%;
    }
    p {
      width: 90%;
    }
  }
}
.thoughts-on-sass {
  @extend article;
}
footer {
  padding: 2%;
  @include base.primary-colors($light-theme: true);
}
.activechoice {
  text-decoration: underline;
}
a:hover {
  @extend .activechoice;
}
.show {
  right: 0;
}
#openmenu {
  display: none;
  border: none;
  background: none;
  img {
    width: 110px;
    height: 110px;
  }
}
#closemenu {
  @extend #openmenu;
}
#smallscreenheading {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    @include base.darker-colors($light-theme: false);
  }
  .topheader {
    @include base.primary-colors($light-theme: false);
  }
  nav {
    @include base.complementary-colors($light-theme: false);
  }
  section {
    article {
      @include base.complementary-colors($light-theme: false);
    }
  }
  footer {
    @include base.primary-colors($light-theme: false);
  }
}
