@use "sass:color";

$primary-background-color: rgb(222, 211, 226);
$darker-primary-background-color: color.scale(
  rgb(222, 211, 226),
  $lightness: -30%
);
$complementary-color: color.complement(rgb(222, 211, 226));
$saturated-color: color.scale(rgb(222, 211, 226), $saturation: 70%);
$primary-text-color: black;

$dark-mode-primary-background-color: rgb(59, 59, 59);
$dark-mode-darker-primary-background-color: color.scale(
  rgb(59, 59, 59),
  $lightness: -50%
);
$dark-mode-complementary-color: color.scale(rgb(59, 59, 59), $lightness: 40%);
$dark-mode-primary-text-color: white;

%centerchild {
  margin-left: auto;
  margin-right: auto;
}

%centercontentwithflex {
  display: flex;
  align-items: center;
}

%paddingandspace {
  margin-bottom: 60px;
  padding: 2%;
}

body {
  margin: 0;
  background-color: $darker-primary-background-color;
}
.topheader {
  @extend %centercontentwithflex;
  @extend %paddingandspace;
  background-color: $primary-background-color;
  justify-content: space-around;
}
.logo {
  width: 250px;
  height: 250px;
}
nav {
  width: 60%;
  @extend %centerchild;
  @extend %paddingandspace;
  background-color: $complementary-color;
  border-radius: 20px;
  ul {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
section {
  width: 50%;
  @extend %centerchild;
  article {
    @extend %centercontentwithflex;
    @extend %paddingandspace;
    flex-direction: column;
    border-radius: 20px;
    background-color: $saturated-color;
    p {
      width: 650px;
    }
  }
}
footer {
  padding: 2%;
  background-color: $primary-background-color;
}
.activechoice {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-mode-darker-primary-background-color;
    color: $dark-mode-primary-text-color;
  }
  .topheader {
    background-color: $dark-mode-primary-background-color;
  }
  nav {
    background-color: $dark-mode-complementary-color;
  }
  section {
    article {
      background-color: $dark-mode-complementary-color;
      color: $primary-text-color;
    }
  }
  footer {
    background-color: $dark-mode-primary-background-color;
  }
  .activechoice {
    color: $primary-text-color;
  }
}
