$font-title: "Sour Gummy", sans-serif;
$font-content: "Zalando Sans", sans-serif;

body {
  font-family: $font-content;
  line-height: 1.75em;
}
h1 {
  font-family: $font-title;
  font-size: 3rem;
}
h2 {
  font-family: $font-title;
  font-size: 2rem;
  text-align: center;
}
h3 {
  font-family: $font-title;
  font-size: 1.5rem;
  text-align: center;
}
nav {
  ul {
    font-family: $font-title;
    font-size: 1.5rem;
    list-style: none;
  }
}
.ingress {
  font-size: 1.2rem;
}
p {
  text-align: center;
}
